@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin animationAppears {
  animation-name: appears;
  animation-duration: 5.5s;
  animation-timing-function: ease-in;
  backface-visibility: hidden;
}

////////////////////////////////////////////////
// MEDIA QUERY MANAGER

/*
possible $breakpoint arguments:
-phone-small: 0 - 360px     ==> Phone small ???
-phone:       360 - 600px   ==> Phone
-tab-port:    600 - 900px   ==> Tablet portrait
-tab-land:    900 - 1200px  ==> Tablet landscape
[1200 - 1800] normal style
-big-desktop: 1800+         ==> Big destop screens

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == _0-360 { //phone-small {
    @media only screen and (max-width: 22.5em) { @content }; //18.75em) { @content };
  }

  @if $breakpoint == _360-600 { //phone {
    @media only screen and (max-width: 37.5em) { @content };
  }

  @if $breakpoint == _600-900 { //tab-port {
    @media only screen and (max-width: 56.25em) { @content };
  }

  @if $breakpoint == _900-1200 { //tab-land {
    @media only screen and (max-width: 75em) { @content };
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };
  }
}
