@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin animationAppears {
  animation-name: appears;
  animation-duration: 4.5s;
  animation-timing-function: ease-in;
  backface-visibility: hidden;
}

@mixin transition($duration) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

////////////////////////////////////////////////
// MEDIA QUERY MANAGER

/*
possible $breakpoint arguments:
-phone-small: 0 - 360px     ==> Phone small ???
-phone:       360 - 600px   ==> Phone
-tab-port:    600 - 900px   ==> Tablet portrait
-tab-land:    900 - 1200px  ==> Tablet landscape
[1200 - 1800] normal style
-big-desktop: 1800+         ==> Big destop screens

1em = 16px
*/

//POSSIBLE OPTIONS:
/*
TOUCH SCREENS:
DESKTOPS CAN BE TOUCH TOO... BUT THEY HAVE :HOVER ANYWAY... SO...
ONLY(!) MOBILE DEVICES CAN BE TOUCH SCREENS WITHOUT :HOVER...
SMALL SCREENS CAN BE ONLY ON MOBILE DEVICES => TOUCH-SCREENS

LET ASSUME, MOBILE DEVICES ARE ALL THOSE THAT HAVE 900PX SCREEN AND LESS.
THAN WE HAVE TO CHECK ONLY DEVICES WITH 900 - 1200PX SCREENS FOR HAVING :HOVER,
OTHERVICE WE SUGGEST IT AS A MOBILE DEVICE WITH TOUCH SCREEN.
*/

@mixin respond($breakpoint) {
  @if $breakpoint == _0-360 {
    //phone-small {
    @media only screen and (max-width: 22.5em) {
      @content;
    } //18.75em) { @content };
  }

  @if $breakpoint == _360-580 {
    //phone {
    @media only screen and (max-width: 36.25em) {
      @content;
    }
  }

  @if $breakpoint == _580-720 {
    //tab-port {
    @media only screen and (max-width: 45em) {
      @content;
    }
  }

  @if $breakpoint == _720-880 {
    //tab-port {
    @media only screen and (max-width: 55em) {
      @content;
    }
  }

  @if $breakpoint == _880-1040 {
    //tab-port {
    @media only screen and (max-width: 65em) {
      @content;
    }
  }

  @if $breakpoint == _1040-1200 {
    //tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //big-desktop
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }

  @if $breakpoint == touch-screen {
    //any size touch-screen
    @media only screen and (hover: none) {
      @content;
    }
  }

  @if $breakpoint == touch_880-1040 {
    //touch-screen big size
    @media only screen and (max-width: 65em), only screen and (hover: none) {
      @content;
    }
  }

  @if $breakpoint == touch_1040-1200 {
    //touch-screen big size
    @media only screen and (max-width: 75em), only screen and (hover: none) {
      @content;
    }
  }
}
