.about {
  margin: 0 auto;
  max-width:100%;

  &__shape {
    width: 20rem;
    height: 20rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-2rem);

    @include respond(_360-600) {
      width: 33rem;
      height: 33rem;
      transform: translate(-1rem);
    }

    @include respond(_0-360) {
      width: 33rem;
      height: 33rem;
    }
  }

  &__img {
    height: 100%;
    max-width:100%;
    border-radius: 50%;
    border: 0.5rem solid var(--color-photo-border);
    filter: brightness(90%) sepia(20%);
  }

  &__text {
    font-size: $font-size-main;

    @include respond(_360-600) {
      font-size: $font-size-mobile;
    }

    @include respond(_0-360) {
      font-size: $font-size-mobile-small;
    }
  }

  &__social-media-box {
    margin-top: calc(#{$gutter-vertical} / 2);
    text-align: center;

    @include respond(_360-600) {
      margin: 5rem 0 3rem;
    }

    @include respond(_0-360) {
      margin: 5rem 0 3rem;
    }
  }

  &__link:link,
  &__link:visited,
  &__link:hover,
  &__link:active {
    text-decoration: none;
  }

  &__link:not(:last-child) {
    margin-right: $gutter-horizontal;

    @include respond(_360-600) {
      margin-right: 8rem;
    }

    @include respond(_0-360) {
      margin-right: 8rem;
    }
  }

  &__icon {
    height: 3.2rem;
    width: 3.2rem;
    fill: var(--color-primary-dark);

    @include respond(_360-600) {
      height: 8rem;
      width: 8rem;
    }

    @include respond(_0-360) {
      height: 7rem;
      width: 7rem;
    }

    &:hover {
      fill: var(--color-primary-light);
    }
  }
}
