.contacts {
  margin: 3rem auto;

  &__heading {
    padding: 0 2rem 2rem;
  }

  &__contact-box {
    text-align: center;
  }

  &__contact {
    text-decoration: none;
    display: inline-block;
    margin: 2rem auto;
    // position: relative;

    &:hover {
      .contacts__icon {
        fill: var(--color-primary-light);
      }

      .contacts__text {
        color: var(--color-primary-light);
      }
    }
  }

  &__icon-box {
    display: inline-block;
    height: 100%;
  }

  &__icon {
    height: 3.2rem;
    width: 3.2rem;
    fill: var(--color-primary-dark);
  }

  &__text {
    display: inline-block;
    text-decoration: none;
    margin-left: 1rem;
    height: 100%;
    // line-height: 100%;
    // vertical-align: middle;
    position: relative;
    top: -1rem;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);

    font-weight: 400;
    color: var(--color-primary-dark);
  }

  &__btn-box {
    width: 100%;
    margin: 3rem 0;
    text-align: center;
  }
}
