.contacts {
  padding: 3rem 0;

  &__heading {
    padding: 0 2rem 2rem;
  }

  &__contact-box {
    text-align: center;
    margin: 2rem auto;

    @include respond(_360-580) {
      margin: 2rem auto;
    }

    @include respond(_0-360) {
      margin: 7rem auto;
    }
  }

  &__link {
    text-decoration: none;
    display: block;

    fill: var(--color-primary-dark);
    color: var(--color-primary-dark);

    &:hover {
      fill: var(--color-primary-light);
      color: var(--color-primary-light);
    }
  }

  &__icon {
    height: $icon-size-main;
    width: $icon-size-main;
    // fill: var(--color-primary-dark);

    vertical-align: middle;

    @include respond(_360-580) {
      height: $icon-size-mobile;
      width: $icon-size-mobile;
    }

    @include respond(_0-360) {
      height: $icon-size-mobile-small;
      width: $icon-size-mobile-small;
    }
  }

  &__text {
    text-decoration: none;
    padding-left: 1rem;
    line-height: 100%;
    vertical-align: middle;

    font-weight: 400;
    // color: var(--color-primary-dark);

    @include respond(_360-580) {
      font-size: 3rem;
      line-height: 100%;
    }

    @include respond(_0-360) {
      font-size: 3.3rem;
      line-height: 100%;
    }
  }

  &__btn-box {
    width: 100%;
    margin: 3rem 0;
    text-align: center;

    @include respond(touch-screen) {
      // margin: 7rem 0 20rem; touch-screen
      display: none;
    }

    // @include respond(_360-580) {
    //   // margin: 7rem 0 20rem; touch-screen
    //   display: none;
    // }

    // @include respond(_0-360) {
    //   margin: 7rem 0 20rem;
    // }
  }
}
