.footer {
  padding: 3rem;
  background-image: linear-gradient(to right bottom, var(--color-primary-dark-90), var(--color-primary-light-90));
  color: var(--color-sign);
  font-size: 1.3rem;
  text-align: center;
  position: relative;

  @include respond(_360-580) {
    padding: 5rem 15rem;
    font-size: 2rem;
  }

  @include respond(_0-360) {
    padding: 5rem 15rem;
    font-size: 2.5rem;
  }

  &__button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 4%;
    height: 5rem;
    width: 12rem;
    background-color: var(--color-menu-bg);
    // background-color: var(--color-primary-dark); //grey--font);
    text-align: center;
    border-radius: 0 0 $border-radius $border-radius;

    @include animationAppears;

    @include respond(_880-1040) {
      right: 1.5%;
      width: 11rem;
    }

    @include respond(_360-580) {
      height: 10rem;
    }

    @include respond(_0-360) {
      height: 15rem;
      width: 15rem;
      border-radius: 0 0 $border-radius-mobileS $border-radius-mobileS;
    }
  }

  &__scroll-up {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__icon-up {
    height: $btn-icon-size-main;
    width: $btn-icon-size-main;
    fill: var(--color-sign);
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @include respond(_1040-1200) {
      height: $btn-icon-size-tab-land;
      width: $btn-icon-size-tab-land;
    }

    @include respond(_720-880) {
      height: $btn-icon-size-tab-port;
      width: $btn-icon-size-tab-port;
    }

    @include respond(_360-580) {
      height: $btn-icon-size-mobile;
      width: $btn-icon-size-mobile;
    }
    
    @include respond(_0-360) {
      height: $btn-icon-size-mobile-small;
      width: $btn-icon-size-mobile-small;
    }
  }

  &__logo-box {
    padding-top: 8rem;
    padding-bottom: 2rem;

    @include respond(_0-360) {
      padding-top: 0;
      padding-bottom: 5rem;
    }
  }

  &__logo {
    height: $logo-size-main;
    width: $logo-size-main;
    stroke: var(--color-sign);
    fill: var(--color-sign);
    stroke-width: 0.5;

    @include respond(_1040-1200) {
      height: $logo-size-tab-land;
      width: $logo-size-tab-land;
    }

    @include respond(_720-880) {
      height: $logo-size-tab-port;
      width: $logo-size-tab-port;
    }

    @include respond(_360-580) {
      height: $logo-size-mobile;
      width: $logo-size-mobile;
    }

    @include respond(_0-360) {
      height: $logo-size-mobile-small;
      width: $logo-size-mobile-small;
    }
  }

  &__hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin:.1rem auto;
    width: 40rem;
    border: .5px solid var(--color-sign);
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: inherit;
    font-style: italic;
  }
}
