.footer {
  padding: 3rem;
  background-image: linear-gradient(to right bottom, var(--color-primary-dark-90), var(--color-primary-light-90));
  color: var(--color-sign);
  font-size: 1.3rem;
  text-align: center;
  position: relative;

  @include respond(_0-360) {
    padding: 5rem 15vw;
    font-size: $font-size-mobile-small;
    font-weight: 300;
    line-height: 1.5;
  }

  &__button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5%;
    height: 5rem;
    width: 12rem;
    background-color: var(--color-menu-base);
    // background-color: var(--color-primary-dark); //grey--font);
    text-align: center;
    border-radius: 0 0 $border-radius $border-radius;

    @include animationAppears;
    // animation-name: appears;
    // animation-duration: 5.5s;
    // animation-timing-function: ease-in;
    // backface-visibility: hidden;

    @include respond(_600-900) {
      right: 1.5%;
    }

    @include respond(_360-600) {
      height: 6rem;
    }
    
    @include respond(_0-360) {
      width: 6rem;
    }
  }

  &__icon-up {
    height: 3.2rem;
    width: 3.2rem;
    fill: var(--color-sign);
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @include respond(_360-600) {
      height: 5rem;
      width: 5rem;
    }
  }

  &__logo-box {
    padding-bottom: 2rem;

    @include respond(_0-360) {
      padding-bottom: 5rem;
    }
  }

  &__logo {
    height: 4.5rem;
    width: 4.5rem;
    stroke: var(--color-sign);
    fill: var(--color-sign);
    stroke-width: 0.5;

    @include respond(_0-360) {
      height: 4.3rem;
      width: 4.3rem;
    }
  }

  &__hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin:.1rem auto;
    // width: 40rem;
    max-width: 90vw;
    border: .5px solid var(--color-sign);
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: inherit;
    font-style: italic;
  }
}
