.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-primary-dark-70), var(--color-primary-light-70)),
    url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  color: var(--color-sign);
  position: relative;

  // background-blend-mode: overlay;
  // background-blend-mode: screen;
  background-blend-mode: multiply;

  @media (min-resolution: 192dpi) and (min-width: 56.25em), (min-width: 75em) {
    background-image: linear-gradient(to right bottom, var(--color-primary-dark-70), var(--color-primary-light-70)),
      url(../img/header-large.jpg);
  }

  @include respond(touch-screen) {
    background-attachment: initial;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    animation-name: appears;
    // animation-delay: 1.5s;
    animation-duration: 5.5s;
    // animation-timing-function: ease-in;

    @include respond(_360-600) {
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__logo {
    height: 5rem;
    width: 5rem;
    // stroke: var(--color-sign);
    fill: var(--color-sign);
    // stroke-width: 0.5;

    @include respond(_360-600) {
      height: 12rem;
      width: 12rem;
    }
  }

  &__text-box {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
  }

  &__main {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2rem;

    animation-name: moveInDown;
    animation-duration: 2s;
    animation-timing-function: ease-in;

    @include respond(_600-900) {
      letter-spacing: 1.5rem;
    }

    @include respond(_360-600) {
      font-size: 11rem;
      letter-spacing: 0.75rem;
    }
  }

  &__hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 0.1rem auto;
    width: 65.6rem;
    border: 1px solid var(--color-sign);

    animation-name: appears;
    animation-duration: 4s;
    // animation-timing-function: ease-in;
    // backface-visibility: hidden;

    @include respond(_600-900) {
      width: 59rem;
    }

    @include respond(_360-600) {
      width: 52.5rem;
      margin: 0 auto 1rem;
    }

    @include respond(_0-360) {
      width: 65rem;
      margin: 0 auto 2rem;
    }
  }

  &__sub {
    text-transform: lowercase;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 0.97rem;
    // border-top: 1px solid var(--color-white);

    animation-name: appears;
    animation-duration: 4s;
    // animation-timing-function: ease-in;
    // backface-visibility: hidden;

    @include respond(_600-900) {
      letter-spacing: 0.76rem;
    }

    @include respond(_360-600) {
      letter-spacing: 0.56rem;
    }

    @include respond(_0-360) {
      letter-spacing: 0.46rem;
      font-size: 3.3rem;
    }
  }

  &__last-letter {
    letter-spacing: 0px;
  }

  &__button {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 4%;
    height: 5rem;
    width: 12rem;
    background-color: var(--color-menu-bg);
    // background-color: rgb(var(--color-font-grb-red), var(--color-font-grb-green), var(--color-font-grb-blue));
    // background-color: var(--color-grey-font);
    text-align: center;
    border-radius: $border-radius $border-radius 0 0;

    @include animationAppears;
    // animation-name: appears;
    // animation-duration: 5.5s;
    // animation-timing-function: ease-in;
    // backface-visibility: hidden;

    @include respond(_600-900) {
      right: 1.5%;
    }

    @include respond(_360-600) {
      // right: 1.5%;
      height: 10rem;
      // border-radius: 0 0 $border-radius $border-radius;
    }

    @include respond(touch_0-360) {
      // right: 1.5%;
      height: 15rem;
      width: 15rem;
      border-radius: $border-radius-mobileS $border-radius-mobileS 0 0;
    }
  }

  &__icon-down {
    height: 3.2rem;
    width: 3.2rem;
    fill: var(--color-sign);
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @include respond(_360-600) {
      height: 5rem;
      width: 5rem;
    }

    @include respond(touch_0-360) {
      height: 9rem;
      width: 9rem;
    }
  }
}
