.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: $border-radius;
  font-size: $font-size-main;
  font-weight: 700;
  cursor: pointer;

  @include transition(0.2s);

  @include respond(_1040-1200) {
    font-size: $font-size-tab-land;
    padding: 1rem 2rem;
  }

  @include respond(_720-880) {
    font-size: $font-size-tab-port;
    padding: 1rem 2rem;
  }

  @include respond(_360-580) {
    font-size: $font-size-mobile;
    padding: 1rem 4rem;
  }

  @include respond(_0-360) {
    font-size: $font-size-mobile-small;
    padding: 1rem 4rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1.5rem var(--color-shadow-50);

    @include respond(touch-screen) {
      transform: none;
      box-shadow: none;
    }

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;

      @include respond(touch-screen) {
        transform: none;
      }
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem var(--color-shadow-20);

    @include respond(touch-screen) {
      transform: none;
      box-shadow: none;
    }
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &-contacts {
    border: 0.2rem solid var(--color-primary-dark);
    background-color: transparent;
    color: var(--color-primary-dark);
  }

  &-form {
    width: 9.8rem;
    border: 0.2rem solid var(--color-primary-dark);
    background-color: transparent;
    color: var(--color-primary-dark);

    @include respond(_1040-1200) {
      width: 23rem;
      padding: 3rem 4rem;
    }
  
    @include respond(_720-880) {
      width: 23rem;
      padding: 3rem 4rem;
    }

    @include respond(_360-580) {
      width: 23rem;
      padding: 3rem 4rem;
    }

    @include respond(_0-360) {
      // width: 23rem;
      // padding: 3rem 4rem;
    }

    &:not(:last-child) {

      @include respond(_1040-1200) {
        margin-right: 6rem;
      }
    
      @include respond(_720-880) {
        margin-right: 6rem;
      }

      @include respond(_360-580) {
        margin-right: 6rem;
      }

      @include respond(_0-360) {
        margin-right: 6rem;
      }
    }
  }
}
