.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: .8rem;
  transition: all 0.2s;
  font-size: $font-size-main;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1.5rem var(--color-shadow-50);
  
    &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
  }  

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem var(--color-shadow-20);
  }

  &:hover,
  &:focus,
  &:active {
      outline: none;
  }

  &-contacts {
    border: .2rem solid var(--color-primary-dark);
    background-color: transparent;
    color: var(--color-primary-dark);
  }

  &-form {
    width: 9.8rem;
    border: .2rem solid var(--color-primary-dark);
    background-color: transparent;
    color: var(--color-primary-dark);
  }
}



