.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: $border-radius;
  transition: all 0.2s;
  font-size: $font-size-main;
  font-weight: 700;
  cursor: pointer;

  @include respond(_0-360) {
    font-size: $font-size-mobile-small;
    padding: 1rem 4rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1.5rem var(--color-shadow-50);
  
    &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
  }  

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem var(--color-shadow-20);
  }

  &:hover,
  &:focus,
  &:active {
      outline: none;
  }

  &-contacts {
    border: .2rem solid var(--color-primary-dark);
    background-color: transparent;
    color: var(--color-primary-dark);
  }

  &-form {
    width: 9.8rem;
    border: .2rem solid var(--color-primary-dark);
    background-color: transparent;
    color: var(--color-primary-dark);

    @include respond(_0-360) {
      width: 23rem;
      padding: 3rem 4rem;
    }

    &:not(:last-child) {
      @include respond(_0-360) {
        margin-right: 6rem;
      }
    }
  }
}