.card {
  //FUNCTIONALITY
  -moz-perspective: 150rem;
  perspective: 150rem;
  // position: relative;
  // height: 40rem;

  //ASPECT RATIO 1:2
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @include respond(_360-580) {
    // height: 80vh;
    // height: calc(width * 2);
    max-width: 80rem;
    margin: 0 auto;
  }

  @include respond(_0-360) {
    // height: 80vh;
    max-width: 100rem;
    margin: 0 auto;
  }

  //ASPECT RATIO 1:2
  &__container {
    display: inline-block;
    position: relative;
    width: 100%;

    @include respond(_720-880) {
      width: 33.33333333%;
    }

    @include respond(_360-580) {
      width: 100%;
    }
  }

  &__container:after {
    content: "";
    display: block;
    margin-top: 150%;
  }

  &__side {
    // background-color: $color-grey-light-5;
    // height: 40rem;
    // transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem var(--color-shadow-20);

    @include transition(0.8s);

    &--front {
      background-color: var(--color-white-light);

      @include respond(_360-580) {
        background-color: var(--color-shadow-50);
      }

      @include respond(_0-360) {
        background-color: var(--color-shadow-50);
      }

      &--TW,
      &--EM,
      &--CU {
        @include respond(_720-880) {
          left: 200%;
        }

        @include respond(_360-580) {
          left: 0;
        }
      }
    }

    &--back {
      // background-image: linear-gradient(to right bottom, var(--color-primary-dark-70), var(--color-primary-light-70));
      // background-color: var(--color-input-bg);
      // background-color: var(--color-bg);
      transform: rotateY(180deg);
      background-size: cover;
      background-position: top;

      @include respond(touch-screen) {
        // background-color: transparent;
        transform: rotateY(0);
      }

      @include respond(_720-880) {
        position: absolute;
        width: 200%;
      }

      @include respond(_360-580) {
        position: initial;
        width: 100%;
      }

      &--PS,
      &--PV,
      &--ACC {
        @include respond(_720-880) {
          left: 100%;
        }

        @include respond(_360-580) {
          left: 0;
        }
      }

      &--PS {
        background-image: linear-gradient(to right bottom, var(--color-PS-dark-70), var(--color-PS-light-70));

        @include respond(touch-screen) {
          background-image: none;
        }
      }

      &--TW {
        background-image: linear-gradient(to right bottom, var(--color-TW-dark-70), var(--color-TW-light-70));

        @include respond(touch-screen) {
          background-image: none;
        }
      }

      &--PV {
        background-image: linear-gradient(to right bottom, var(--color-PV-dark-70), var(--color-PV-light-70));

        @include respond(touch-screen) {
          background-image: none;
        }
      }

      &--EM {
        background-image: linear-gradient(to right bottom, var(--color-EM-dark-70), var(--color-EM-light-70));

        @include respond(touch-screen) {
          background-image: none;
        }
      }

      &--ACC {
        background-image: linear-gradient(to right bottom, var(--color-ACC-dark-70), var(--color-ACC-light-70));

        @include respond(touch-screen) {
          background-image: none;
        }
      }

      &--CU {
        background-image: linear-gradient(to right bottom, var(--color-CU-dark-70), var(--color-CU-light-70));

        @include respond(touch-screen) {
          background-image: none;
        }
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);

    @include respond(touch-screen) {
      transform: rotateY(0);
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);

    @include respond(touch-screen) {
      transform: rotateY(0);
    }

    // @include respond(_0-360) {
    //   transform: rotateY(0);
    // }
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    // background-size: auto;
    height: 100%;
    // background-blend-mode: screen;
    background-blend-mode: multiply;
    // background-blend-mode: overlay;

    &--PS {
      background-image: linear-gradient(to right bottom, var(--color-PS-dark-70), var(--color-PS-light-70)),
        url(../img/card-1.jpg);
      filter: brightness(0.85);

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-PS-dark-70), var(--color-PS-light-70));
      // }
    }

    &--TW {
      background-image: linear-gradient(to right bottom, var(--color-TW-dark-70), var(--color-TW-light-70)),
        url(../img/card-2.jpg);
      filter: brightness(1.1);

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-TW-dark-70), var(--color-TW-light-70));
      // }
    }

    &--PV {
      background-image: linear-gradient(to right bottom, var(--color-PV-dark-70), var(--color-PV-light-70)),
        url(../img/card-3.jpg);
      filter: brightness(0.8);

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-PV-dark-70), var(--color-PV-light-70));
      // }
    }

    &--EM {
      background-image: linear-gradient(to right bottom, var(--color-EM-dark-70), var(--color-EM-light-70)),
        url(../img/card-4.jpg);

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-EM-dark-70), var(--color-EM-light-70));
      // }
    }

    &--ACC {
      background-image: linear-gradient(to right bottom, var(--color-ACC-dark-70), var(--color-ACC-light-70)),
        url(../img/card-5.jpg);
      filter: brightness(0.8);

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-ACC-dark-70), var(--color-ACC-light-70));
      // }
    }

    &--CU {
      background-image: linear-gradient(to right bottom, var(--color-CU-dark-70), var(--color-CU-light-70)),
        url(../img/card-6.jpg);
      filter: brightness(0.85);

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-CU-dark-70), var(--color-CU-light-70));
      // }
    }
  }

  //HEADING
  &__heading {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-white);
    text-align: right;
    position: absolute;
    right: 0;

    transform: rotate(-90deg);

    &--top {
      top: 25%;
    }

    &--middle {
      top: 50%;
    }

    &--bottom {
      top: 75%;
    }

    // @include respond(_360-580) {
    //   top: 5%;
    //   font-size: 6rem;
    // }

    @include respond(_360-580) {
      transform: rotate(0);
      top: 5%;
      font-size: 6rem;
    }

    @include respond(_0-360) {
      top: 3%;
      font-size: 7rem;
    }

    &-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--PS {
        background-image: linear-gradient(to right, var(--color-PS-dark-90), var(--color-PS-light-90));
      }

      &--TW {
        background-image: linear-gradient(to right, var(--color-TW-dark-90), var(--color-TW-light-90));
      }

      &--PV {
        background-image: linear-gradient(to right, var(--color-PV-dark-90), var(--color-PV-light-90));
      }

      &--EM {
        background-image: linear-gradient(to right, var(--color-EM-dark-90), var(--color-EM-light-90));
      }

      &--ACC {
        background-image: linear-gradient(to right, var(--color-ACC-dark-90), var(--color-ACC-light-90));
      }

      &--CU {
        background-image: linear-gradient(to right, var(--color-CU-dark-90), var(--color-CU-light-90));
      }
    }
  }

  &__description {
    @include absCenter;
    padding: 1rem;
    text-align: justify;
    text-justify: inter-word;
    width: 95%;
    //   margin: auto 0;
    //   vertical-align: 15%;

    @include respond(_360-580) {
      width: 90%;
      // height: 80%;
      position: absolute;
      // bottom: 0;
      font-size: $font-size-mobile;
      font-weight: 300;
      line-height: 1.5;
      color: var(--color-white);
    }

    @include respond(_0-360) {
      width: 90%;
      // height: 80%;
      position: absolute;
      // bottom: 0;
      font-size: $font-size-mobile-small;
      font-weight: 300;
      line-height: 1.5;
      color: var(--color-white);
    }

    &--PS {
      @include respond(touch-screen) {
        background-image: linear-gradient(to right bottom, var(--color-PS-dark-70), var(--color-PS-light-70));
      }

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-PS-dark-70), var(--color-PS-light-70));
      // }
    }

    &--TW {
      @include respond(touch-screen) {
        background-image: linear-gradient(to right bottom, var(--color-TW-dark-70), var(--color-TW-light-70));
      }

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-TW-dark-70), var(--color-TW-light-70));
      // }
    }

    &--PV {
      @include respond(touch-screen) {
        background-image: linear-gradient(to right bottom, var(--color-PV-dark-70), var(--color-PV-light-70));
      }

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-PV-dark-70), var(--color-PV-light-70));
      // }
    }

    &--EM {
      @include respond(touch-screen) {
        background-image: linear-gradient(to right bottom, var(--color-EM-dark-70), var(--color-EM-light-70));
      }

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-EM-dark-70), var(--color-EM-light-70));
      // }
    }

    &--ACC {
      @include respond(touch-screen) {
        background-image: linear-gradient(to right bottom, var(--color-ACC-dark-70), var(--color-ACC-light-70));
      }

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-ACC-dark-70), var(--color-ACC-light-70));
      // }
    }

    &--CU {
      @include respond(touch-screen) {
        background-image: linear-gradient(to right bottom, var(--color-CU-dark-70), var(--color-CU-light-70));
      }

      // @include respond(_0-360) {
      //   background-image: linear-gradient(to right bottom, var(--color-CU-dark-70), var(--color-CU-light-70));
      // }
    }
  }
}
