.card {
  //FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;

  @include respond(_0-360) {
    height: 80vh;
  }

  &__side {
    // background-color: $color-white-mild;
    height: 40rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    backface-visibility: hidden;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem var(--color-shadow-20);

    &--front {
      background-color: var(--color-white-light);

      @include respond(_0-360) {
        background-color: var(--color-shadow-50);
      }
    }

    &--back {
      background-color: var(--color-input-bg);
      // background-color: var(--color-bg);
      transform: rotateY(180deg);

      @include respond(_0-360) {
        background-color: transparent;
        transform: rotateY(0);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);

    @include respond(_0-360) {
      transform: rotateY(0);
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);

    @include respond(_0-360) {
      transform: rotateY(0);
    }
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 100%;
    // background-blend-mode: screen;
    // background-blend-mode: multiply;
    background-blend-mode: overlay;

    &--PS {
      background-image: linear-gradient(to right bottom, var(--color-PS-dark-70), var(--color-PS-light-70)),
        url(../img/card-1.jpg);
      filter: brightness(0.85);

      @include respond(_0-360) {
        background-image: linear-gradient(to right bottom, var(--color-PS-dark-70), var(--color-PS-light-70));
      }
    }

    &--TW {
      background-image: linear-gradient(to right bottom, var(--color-TW-dark-70), var(--color-TW-light-70)),
        url(../img/card-2.jpg);
      filter: brightness(1.1);

      @include respond(_0-360) {
        background-image: linear-gradient(to right bottom, var(--color-TW-dark-70), var(--color-TW-light-70));
      }
    }

    &--PV {
      background-image: linear-gradient(to right bottom, var(--color-PV-dark-70), var(--color-PV-light-70)),
        url(../img/card-3.jpg);
      filter: brightness(0.8);

      @include respond(_0-360) {
        background-image: linear-gradient(to right bottom, var(--color-PV-dark-70), var(--color-PV-light-70));
      }
    }

    &--EM {
      background-image: linear-gradient(to right bottom, var(--color-EM-dark-70), var(--color-EM-light-70)),
        url(../img/card-4.jpg);

      @include respond(_0-360) {
        background-image: linear-gradient(to right bottom, var(--color-EM-dark-70), var(--color-EM-light-70));
      }
    }

    &--ACC {
      background-image: linear-gradient(to right bottom, var(--color-ACC-dark-70), var(--color-ACC-light-70)),
        url(../img/card-5.jpg);
      filter: brightness(0.8);

      @include respond(_0-360) {
        background-image: linear-gradient(to right bottom, var(--color-ACC-dark-70), var(--color-ACC-light-70));
      }
    }

    &--CU {
      background-image: linear-gradient(to right bottom, var(--color-CU-dark-70), var(--color-CU-light-70)),
        url(../img/card-6.jpg);
      filter: brightness(0.85);

      @include respond(_0-360) {
        background-image: linear-gradient(to right bottom, var(--color-CU-dark-70), var(--color-CU-light-70));
      }
    }
  }

  &__heading {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-white);
    text-align: right;
    position: absolute;
    right: 0;

    &--top {
      top: 25%;
    }

    &--middle {
      top: 50%;
    }

    &--bottom {
      top: 75%;
    }

    @include respond(_0-360) {
      top: 3%;
      font-size: 7rem;
    }
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--PS {
      background-image: linear-gradient(to right, var(--color-PS-dark-90), var(--color-PS-light-90));
    }

    &--TW {
      background-image: linear-gradient(to right, var(--color-TW-dark-90), var(--color-TW-light-90));
    }

    &--PV {
      background-image: linear-gradient(to right, var(--color-PV-dark-90), var(--color-PV-light-90));
    }

    &--EM {
      background-image: linear-gradient(to right, var(--color-EM-dark-90), var(--color-EM-light-90));
    }

    &--ACC {
      background-image: linear-gradient(to right, var(--color-ACC-dark-90), var(--color-ACC-light-90));
    }

    &--CU {
      background-image: linear-gradient(to right, var(--color-CU-dark-90), var(--color-CU-light-90));
    }
  }

  &__description {
    @include absCenter;
    padding: 1rem;
    text-align: justify;
    text-justify: inter-word;
    width: 95%;
    //   margin: auto 0;
    //   vertical-align: 15%;

    @include respond(_0-360) {
      width: 90%;
      // height: 80%;
      position: absolute;
      bottom: 0;
      font-size: $font-size-mobile-small;
      font-weight: 300;
      line-height: 1.5;
      color: var(--color-white);
    }
  }
}
