.color-schema {

  /////////////////////////////////////////////////////////
  //GENERAL SETTINGS FOR COLOR-PANEL
  &__panel {
    position: fixed;
    left: 1.5%;
    bottom: 5.5rem;
    z-index: 1;
    width: 16rem;
    height: 16rem;
    border-radius: $border-radius;
    border: 0.2rem solid var(--color-primary-dark);

    display: flex;
    flex-direction: column;

    padding: 1rem;
    opacity: 0;
    visibility: hidden;

    @include transition4of10;

    @include respond(_360-600) {
      left: -35rem;
      bottom: 0;
      opacity: 1;
      visibility: visible;

      z-index: 10;

      width: 35rem;
      height: 35rem;
      padding: 3rem;
      border-radius: 0 $border-radius 0 0;

      border-style: none !important;
      background-color: var(--color-menu-bg);
      transition-delay: .4s;
    }

    @include respond(_0-360) {
      left: -45rem;

      width: 45rem;
      height: 45rem;
      padding: 3.5rem;
      border-radius: 0 $border-radius 0 0;
    }

    &:hover {
      opacity: 1;
      visibility: visible;

      z-index: 10;

      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 1.5rem var(--color-shadow-50);

      @include respond(_360-600) {
        transform: translateY(0);
        box-shadow: none;
      }
    }

    /////////////////////////////////////////////////////////
    //TOUCH-SCREEN MOBILE COLOR-PANEL VISIBILITY

    /////////////////////////////////////////////////////////
    //TOUCH-SCREEN MOBILE SHOW COLOR-PANEL
    &--hide {
      @include respond(_360-600) {
        transform: translateY(0);
        box-shadow: none;
        border-style: none;
        left: -45rem;
      }

      @include respond(_0-360) {
        left: -45rem;
      }
    }

    /////////////////////////////////////////////////////////
    //TOUCH-SCREEN MOBILE SHOW COLOR-PANEL
    &--show {
      @include respond(_360-600) {
        transform: translateY(0);
        box-shadow: none;
        border-style: none;
        left: 0;
      }
    }
  }

  /////////////////////////////////////////////////////////
  //GENERAL SETTINGS FOR COLOR-PANEL FORM, CONTAINING ALL CONTROL ELEMENTS
  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /////////////////////////////////////////////////////////
  //GENERAL SETTINGS FOR COLOR PALETE, CONTAINING ALL COLOR SWITCHERS
  &__palette {
    padding: 1rem;

    flex: 0 0 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(_360-600) {
      flex: 0 0 65%;
      padding: 0;
    }
  }

  /////////////////////////////////////////////////////////
  //GENERAL SETTINGS FOR A SINGLE ROW OF COLOR SWITCHERS
  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /////////////////////////////////////////////////////////
  //GENERAL SETTINGS FOR A SINGLE COLOR SWITCHER
  &__color-component {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.2rem;

    @include respond(_360-600) {
      width: 7.5rem;
      height: 7.5rem;
      border-radius: 0.5rem;
    }

    @include respond(_0-360) {
      width: 10rem;
      height: 10rem;
      border-radius: 0.5rem;
    }
  }

  /////////////////////////////////////////////////////////
  //GENERAL SETTINGS FOR A DARK-MODE TOGGLER
  &__color-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // display: inline-block;
    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__color-icon {

    width: 50%;
    height: 50%;
    fill: var(--color-sign);
    opacity: 0;
    visibility: hidden;
  }

  &__input {
    display: none;

    &:checked + .color-schema__color-icon {
      opacity: 1;
      visibility: visible;
    }
  }

  &__btn {
    position: fixed;
    left: 4%;
    bottom: 1.8rem;
    z-index: 10;
    display: inline-block;
    border-radius: $border-radius;
    padding: 0.2rem;
    height: 3.2rem;
    width: 3.2rem;
    cursor: pointer;
    transition: all 0.2s;

    animation-name: appears;
    animation-duration: 5s;

    @include respond(_360-600) {
      position: relative;
      top: 17.5%;
      left: 17.5%;

      height: 65%;
      width: 65%;
      padding: 1rem;
    }

    @include respond(_0-360) {

      // top: 3rem;
      // left: 3rem;

      // height: 9rem;
      // width: 9rem;
      // padding: 1rem;
    }

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 1.5rem var(--color-shadow-50);

      @include respond(_360-600) {
        transform: translateY(0);
        box-shadow: none;
      }
    }

    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem var(--color-shadow-20);

      @include respond(_360-600) {
        transform: translateY(0);
        box-shadow: none;
      }
    }

    &--mobile {
      @include transition4of10;

      @include respond(_360-600) {
        display: inline-block;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 8;

        height: 11rem;
        width: 11rem;

        border-radius: 0 $border-radius 0 0;

        background-color: var(--color-shadow-50);

        animation-name: appears;
        animation-duration: 5s;
      }

      @include respond(_0-360) {

        height: 15rem;
        width: 15rem;

        // border-radius: 0 $border-radius 0 0;
      }

      &:hover ~ .color-schema__panel {
        opacity: 1;
        visibility: visible;
    
        z-index: 10;
    
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 1.5rem var(--color-shadow-50);
    
        @include respond(_360-600) {
          transform: translateY(0);
          box-shadow: none;
          left: 0;
          border-style: none;
        }
      }
    }
  }

  &__icon {
    height: 100%;
    width: 100%;

    @include respond(_360-600) {
      height: 85%;
      width: 85%;

      @include absCenter;
    }
  }

  /////////////////////////////////////////////////////////
  //GENERAL SETTINGS FOR A DARK-MODE TOGGLER
  &__toggle {
    // width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    /////////////////////////////////////////////////////////
    //GENERAL SETTINGS FOR A DARK-MODE TOGGLER LABEL
    &-label {
      width: 100%;
      padding: 1rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      @include respond(_360-600) {
        padding: 0;
      }
    }

    /////////////////////////////////////////////////////////
    //GENERAL SETTINGS FOR A DARK-MODE TOGGLER LABEL TEXT
    &-text {
      font-size: 1.2rem;

      @include respond(_360-600) {
        font-size: 3.2rem;
        font-weight: 400;
      }

      @include respond(_0-360) {
        font-size: 4.5rem;
        font-weight: 400;
      }
    }

    /////////////////////////////////////////////////////////
    //GENERAL SETTINGS FOR A DARK-MODE TOGGLER INPUT
    &-input {
      -webkit-appearance: none;
      appearance: none;
      width: 4.4rem;
      height: 2.4rem;
      border-radius: 1.5rem;
      background: transparent;
      cursor: pointer;

      @include transition4of10;

      @include respond(_360-600) {
        width: 8rem;
        height: 4.5rem;
        border-radius: 2.5rem;
      }

      @include respond(_0-360) {
        width: 8rem;
        height: 4.5rem;
        border-radius: 2.5rem;
      }

      &::before {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        content: "";
        position: absolute;
        top: 1.4rem;
        left: 64%;

        @include transition4of10;

        @include respond(_360-600) {
          width: 3.3rem;
          height: 3.3rem;
          top: .7rem;
          left: 75%;
        }

        @include respond(_0-360) {
          width: 3.2rem;
          height: 3.2rem;
          top: 1.85rem;
          left: 81%;
        }
      }

      &:checked::before {
        left: 78%;

        @include respond(_360-600) {
          width: 3.4rem;
          height: 3.4rem;
          left: 86%;
        }

        @include respond(_0-360) {
          width: 3.4rem;
          height: 3.4rem;
          left: 89%;
        }
      }

      &:focus {
        outline: none;
      }
    }

    /////////////////////////////////////////////////////////
    //SWITCHING COLORS WHEN RICHES HEADER AND FOOTER
    //FOR COLOR-SCHEMA BUTTON, COLOR-PANEL AND DARK MODE TOGGLER
    &--color {
      &-top-bottom {
        & .color-schema__toggle {
          &-text {
            color: var(--color-sign);

            @include respond(_360-600) {
              color: var(--color-primary-dark);
            }
          }

          &-input {
            border: 0.2rem solid var(--color-sign);

            @include respond(_360-600) {
              border: 0.2rem solid var(--color-primary-dark);
            }

            &::before {
              background-color: var(--color-sign);

              @include respond(_360-600) {
                background-color: var(--color-primary-dark);
              }
            }

            &:checked {
              background-color: var(--color-sign);

              @include respond(_360-600) {
                background-color: var(--color-primary-dark);
              }
            }

            &:checked::before {
              background-color: var(--color-primary-dark);

              @include respond(_360-600) {
                background-color: var(--color-menu-bg);
              }
            }
          }
        }
      }

      &-main {
        & .color-schema__toggle {
          &-text {
            color: var(--color-primary-dark);
          }

          &-input {
            border: 0.2rem solid var(--color-primary-dark);

            &::before {
              background-color: var(--color-primary-dark);
            }

            &:checked {
              background-color: var(--color-primary-dark);
            }

            &:checked::before {
              background-color: var(--color-bg);

              @include respond(_360-600) {
                background-color: var(--color-menu-bg);
              }
            }
          }
        }
      }
    }
  }

  //color toggle depending on backgrounds
  &--color {
    &-top-bottom {
      fill: var(--color-sign);
      border: 0.2rem solid var(--color-sign);
    }

    &-main {
      fill: var(--color-primary-dark);
      border: 0.2rem solid var(--color-primary-dark);

      @include respond(_360-600) {
        fill: var(--color-sign);
        border: 0.2rem solid var(--color-sign);
      }
    }
  }
}
