.message {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-shadow-50);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  // transition: all 0.5s;

  @include transition(0.5s);

  @include respond(touch-screen) {
    position: initial;
    background-color: transparent;
    z-index: 0;
    opacity: 1;
    visibility: visible;
    // height: 100%;
    height: auto;
    // overflow: auto;
    width: 100%;
    margin-bottom: 3vh;
  }

  &__form {
    @include absCenter;

    max-height: 90vh;
    width: 70vw;
    border-radius: $border-radius;
    padding: 1.5rem 3.5rem;
    background-color: var(--color-bg);
    overflow-y: auto;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;

    @include respond(touch-screen) {
      display: block;
      position: initial;
      opacity: 1;
      visibility: visible;
      transform: initial;
      border-style: none;
      background-color: transparent;

      // height: 100%;
      max-height: fit-content;
      // overflow: auto;
      width: 100%;
      padding: 0;
      overflow-y: initial;
    }
  }

  &__header {
    // padding: 0 1rem 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: $font-size-main;
    font-weight: 700;
    color: var(--color-primary-dark);

    @include respond(_1040-1200) {
      // padding: 0 1rem 3.5rem;
      margin-bottom: 3rem;
      font-size: $font-size-tab-land;
    }

    @include respond(_720-880) {
      // padding: 0 1rem 3.5rem;
      margin-bottom: 3rem;
      font-size: $font-size-tab-port;
    }

    @include respond(_360-580) {
      // padding: 0 1rem 6rem;
      margin-bottom: 3rem;
      font-size: $font-size-mobile;
    }

    @include respond(_0-360) {
      padding: 0 1rem;
      margin-bottom: 3rem;
      // margin-bottom: 8rem;
      font-size: $font-size-mobile-small;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }
  
  &--shown {
    opacity: 1;
    visibility: visible;
    
    & .message__form {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
  
      @include respond(touch-screen) {
        transform: initial;
        overflow-y: initial;
      }
    }
  }

  &:target &__form {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    @include respond(touch-screen) {
      transform: initial;
      overflow-y: initial;
    }
  }

  &__close {
    
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    text-decoration: none;
    line-height: 0.5;
    color: var(--color-font);
    cursor: pointer;

    @include transition(0.2s);

    @include respond(touch-screen) {
      display: none;
    }

    @include respond(_0-360) {
      display: none;
    }

    &:hover {
      color: var(--color-primary-dark);
    }
  }
  // &__close {
  //   &:link,
  //   &:active {
  //     display: inline-block;
  //     position: absolute;
  //     top: 2rem;
  //     right: 2rem;
  //     font-size: 3rem;
  //     text-decoration: none;
  //     line-height: 0.5;
  //     // z-index: 101;
  //     color: var(--color-font);
  //     // transition: all .2s;

  //     @include transition(0.2s);

  //     @include respond(touch-screen) {
  //       display: none;
  //     }

  //     @include respond(_0-360) {
  //       // font-size: 10rem;
  //       // line-height: .5;
  //       // color: var(--color-primary-dark);
  //       display: none;
  //     }
  //   }

  //   &:hover {
  //     color: var(--color-primary-dark);
  //   }
  // }
}

.form {
  @include respond(touch-screen) {
    // height: 100%;
    // overflow: auto;
    width: 100%;
    padding-bottom: 3rem;
  }

  &__group {



    &--btns {
      text-align: center;
      position: relative;
    }

    &--message {
      height: $textarea-height-main;
      margin-bottom: 2rem;

      @include respond(_1040-1200) {
        height: $textarea-height-tab-land;
        margin-bottom: 3rem;
      }
      @include respond(_720-880) {
        height: $textarea-height-tab-port;
        margin-bottom: 3rem;
      }
      @include respond(_360-580) {
        height: $textarea-height-mobile;
        margin-bottom: 3rem;
      }
      @include respond(_0-360) {
        height: $textarea-height-mobile-small;
        margin-bottom: 3rem;
      }
    }
  }

  &__field {
    height: $input-height-main;
    margin-bottom: 1.5rem;

    @include respond(_1040-1200) {
      height: $input-height-tab-land;
      margin-bottom: 2rem;
    }

    @include respond(_720-880) {
      height: $input-height-tab-port;
      margin-bottom: 3rem;
    }

    @include respond(_360-580) {
      height: $input-height-mobile;
      margin-bottom: 3rem;
    }

    @include respond(_0-360) {
      height: $input-height-mobile-small;
      margin-bottom: 3rem;
    }
  }

  &__input {
    display: inline-block;

    height: $input-height-main;
    
    width: 100%;
    font-size: $font-size-main;
    font-family: inherit;
    color: inherit;
    padding: 1.1rem .8rem .2rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: .2rem solid var(--color-primary-dark);
    @include transition(0.3s);

    @include respond(_1040-1200) {
      font-size: $font-size-tab-land;
      height: $input-height-tab-land;
      padding: 1.1rem .8rem .2rem;
    }

    @include respond(_720-880) {
      font-size: $font-size-tab-port;
      height: $input-height-tab-port;
      padding: 3rem 1rem .5rem;
    }

    @include respond(_360-580) {
      font-size: $font-size-mobile;
      height: $input-height-mobile;
    }

    @include respond(_0-360) {
      font-size: $font-size-mobile-small;
      height: $input-height-mobile-small;
    }

    &::placeholder {
      color: transparent;
    }

    &--message {
      // overflow: hidden;
      // overflow-y: scroll;
      resize: none;

      height: $textarea-height-main;
      max-height: $textarea-height-main;

      @include respond(_1040-1200) {
        height: $textarea-height-tab-land;
        max-height: $textarea-height-tab-land;
      }
      @include respond(_720-880) {
        height: $textarea-height-tab-port;
        max-height: $textarea-height-tab-port;
      }
      @include respond(_360-580) {
        height: $textarea-height-mobile;
        max-height: $textarea-height-mobile;
      }
      @include respond(_0-360) {
        height: $textarea-height-mobile-small;
        max-height: $textarea-height-mobile-small;
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem var(--color-shadow-20);

      @include respond(touch-screen) {
        box-shadow: none;
      }

      &:invalid {
        border: .2rem solid var(--color-accent);
      }
    }
  }

  &__label {
    display: inline-block;
    position: relative;

    height: $input-height-main;
    // width: 100%;

    font-size: calc(#{$font-size-main} * .6);
    color: var(--color-primary-dark);
    padding-top: .5rem;
    padding-left: 1rem;
    
    @include transition(0.3s);

    @include respond(_1040-1200) {
      height: $input-height-tab-land;
      font-size: calc(#{$font-size-tab-land} * .6);
      padding-top: .5rem;
      padding-left: 1rem;
    }

    @include respond(_720-880) {
      height: $input-height-tab-port;
      font-size: calc(#{$font-size-tab-port} * .7);
      padding-top: 1rem;
      padding-left: 1rem;
    }

    @include respond(_360-580) {
      height: $input-height-mobile;
      font-size: calc(#{$font-size-mobile} * .6);
      padding-top: 1rem;
      padding-left: 1rem;
    }

    @include respond(_0-360) {
      height: $input-height-mobile-small;
      font-size: calc(#{$font-size-mobile-small} * .5);
      padding-top: 1rem;
      padding-left: 1rem;
    }

    &--not-last {
      top: -4.3rem;

      @include respond(_1040-1200) {
        top: -4.7rem;
      }
  
      @include respond(_720-880) {
        top: -7rem;
      }

      @include respond(_360-580) {
        top: -9rem;
      }

      @include respond(_0-360) {
        top: -11.5rem; //-18rem; //-16rem;
      }
    }

    &--last {
      top: -16.5rem;

      // height: $textarea-height-main;

      @include respond(_1040-1200) {
        top: -19.5rem;
      }
      
      @include respond(_720-880) {
        top: -24.5rem;
      }

      @include respond(_360-580) {
        top: -29rem;
      }

      @include respond(_0-360) {
        top: -33.1rem;
      }
    }
  }

  &__input:placeholder-shown + &__label--not-last {
    top: -3.7rem;
    font-size: calc(#{$font-size-main} * 1);
    padding-top: .5rem;

    @include respond(_1040-1200) {
      top: -4rem;
      font-size: calc(#{$font-size-tab-land} * 1);
      padding-top: .5rem;
    }

    @include respond(_720-880) {
      top: -6.5rem; 
      font-size: calc(#{$font-size-tab-port} * 1);
      padding-top: 1.5rem;
    }

    @include respond(_360-580) {
      top: -8rem; 
      font-size: calc(#{$font-size-mobile} * 1);
      padding-top: 1.8rem;
    }

    @include respond(_0-360) {
      top: -10rem; //-18rem; //-16rem;
      font-size: calc(#{$font-size-mobile-small} * .8);
      padding-top: 2.5rem;
    }
  }
  &__input:placeholder-shown + &__label--last {
    top: -17rem; 
    font-size: calc(#{$font-size-tab-land} * 1);
    padding-top: 1.5rem;

    @include respond(_1040-1200) {
      top: -20rem; 
      font-size: calc(#{$font-size-tab-land} * 1);
      padding-top: 1.5rem;
    }

    @include respond(_720-880) {
      top: -24rem; 
      font-size: calc(#{$font-size-tab-port} * 1);
      padding-top: 1.5rem;
    }

    @include respond(_360-580) {
      top: -28rem; 
      font-size: calc(#{$font-size-mobile} * 1);
      padding-top: 1.8rem;
    }

    @include respond(_0-360) {
      top: -32rem; //-18rem; //-16rem;
      font-size: calc(#{$font-size-mobile-small} * .8);
      padding-top: 2.5rem;
    }
  }
}
