.navigation {
  position: absolute;
  right: 4%;
  width: 12rem;
  border-radius: 0.2rem;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  @include animationAppears;

  @include respond(_600-900) {
    right: 1.5%;
  }

  @include respond(_360-600) {
    top: 0;
    left: 0;
    width: 100vw;
    border-radius: 0;
    z-index: 5;
  }

  &--top {
    top: 0;

    @include respond(_360-600) {
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 0;
    }
  }

  &--bottom {
    bottom: 0rem;

    @include respond(_360-600) {
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 0;
    }
  }

  &--fixed {
    position: fixed;
    top: 5rem;

    @include respond(_360-600) {
      top: 0;
      left: 0;
    }
  }

  &__list {
    list-style: none;

    @include respond(_360-600) {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    // @include respond(_0-360) {
    //   display: table;
    //   width: 100%;
    //   table-layout: fixed;
    // }
  }

  &__item {
    height: $navigation-item-height;
    background-color: var(--color-menu-bg);
    color: var(--color-menu-font);

    @include respond(_360-600) {
      display: table-cell;
      height: 15rem;
    }

    &--active {
      background-color: var(--color-primary-dark);
    }

    &:hover:not(.navigation__item--active) {
      color: var(--color-primary-dark);

      @include respond(_360-600) {
        color: var(--color-sign);
      }
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: $navigation-item-height;
    text-decoration: none;
    font-size: inherit;
    font-weight: 600;
    color: inherit;

    @include respond(_360-600) {
      line-height: 15rem;
      font-size: 2rem;
      // font-weight: 600;
    }

    @include respond(_0-360) {
      // line-height: 10rem;
      // font-size: 2rem;
      // font-weight: 600;
    }
  }
}
