.section-intro {
    padding: 3rem $gutter-vertical $gutter-horizontal;
    font-family: librebaskerville-italic, serif;
    font-size: 2.5rem;
    font-style: italic;

    @include respond(_0-360) {
        font-size: 4rem;
    }
}
