.tool {

  &__list {
    list-style-type: none;
  }

  &__name {
    display: inline-block;
    width: 70%;

    @include respond(_360-600) {
      top: 5%;
      max-width: 65%;
      font-size: $font-size-mobile;
    }

    @include respond(_0-360) {
      top: 5%;
      max-width: 65%;
      font-size: $font-size-mobile-small;
    }
  }

  &__score {
    float: right;

    @include respond(_360-600) {
      max-width: 35%;
    }

    @include respond(_0-360) {
      max-width: 35%;
    }
  }

  &__icon {
    position: relative;
    top: .3rem;
    height: 1.6rem;
    width: 1.6rem;
    stroke-width: 0.5;
    margin: 0;
    // transition: all 0.3s;
    animation-timing-function: ease-in;
    backface-visibility: hidden;

    @include transition(0.3s);

    @include respond(_360-600) {
      top: .7rem;
      height: 3.4rem;
      width: 3.4rem;
    }

    @include respond(_0-360) {
      top: .5rem;
      height: 4rem;
      width: 4rem;
    }
  
    &--bright {
      stroke: var(--color-primary-dark);
      fill: var(--color-primary-dark);
    }
  
    &--light {
      stroke: var(--color-score);
      fill: var(--color-score);
    }
  }

  &:hover {
    background: var(--color-score-hover);
    // background: var(--color-yellow-bg);

    @include respond(touch-screen) {
      background: none;
    }

    .tool__icon {
      margin-left: 1.5px;

      @include respond(touch-screen) {
        margin-left: 0;
      }
    }
  }
}
