*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines how many px is 1rem
  font-size: 62.5%; //1rem = 10px (10px/16px = 62.5%)

  //for correct calculations rem units in Safari
  -webkit-text-size-adjust: none;

  @include respond(_1040-1200) {
    font-size: 56.25%; //1rem = 9px (9px/16px = 56.25%)
  }

  @include respond(_880-1040) {
    font-size: 50%; //1rem = 8px (8px/16px = 50%)
  }

  @include respond(_720-880) {
    font-size: 43.75%; //1rem = 7px (7/16 = 43.75%)
  }

  @include respond(_580-720) {
    font-size: 37.5%; //1rem = 6px (6px/16px = 37.5%)
  }

  @include respond(_360-580) {
    font-size: 31.25%; //1rem = 5px (5px/16px = 31.25%)
  }

  @include respond(_0-360) {
    font-size: 25%; //1rem = 4px (4px/16px = 25%)
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px (12px/16px = 75%)
  }
}

:root {
  ////////////////////////////////////////////////
  // NEW COLOR ARCHITECTURE
  /*
  LIGHT/DARK
  
  HEADER, FOOTER:
  background gradient - color-primary/color-primary
  fonts - white/white
  logo - white/white
  button background - dark-grey/dark-grey
  icon-button - white/white
  COLOR-PANEL & COLOR BUTTON background - transparent
  COLOR-PANEL & COLOR BUTTON icon/border - white
  COLOR-PANEL toggler - color-primary

  NAVIGATION:
  button background - dark-grey
  active background - color-primary
  sign - white
  hover - ...

  SECTIONS:
  background - white/dark-grey-bg (special for bg)
  header - color-primary
  intro - black/grey-light
  COLOR-PANEL & COLOR BUTTON background - transparent
  COLOR-PANEL & COLOR BUTTON icon/border - color-primary

  ABOUT:
  font - black/grey-light
  photo-border - white
  icons-media - color-primary

  SKILLS:
  cards-front gradient - color-primary
  cards-front font - white
  cards-back gradient - color-primary
  cards-front font - black/white

  TOOLS:
  heading - black/grey-light
  font - black/grey-light
  icon-score dark - color-primary
  icon-score light - ... (border EXPERIENCE, QUALIFICATION - #DFE0E0 ?)
  score-background - ... (background EXPERIENCE, QUALIFICATION - #F2F2F2 ?)

  EXPERIENCE, QUALIFICATION:
  background - white/dark-grey-bg
  font - black/grey-light
  background-component - white/...
  border-component - grey-light/... (perhaps, d3...)
  link - color-primary
  icon-link - color-primary

  CONTACTS:
  background - white/dark-grey-bg (special for bg)
  link - color-primary
  icon-link - color-primary
  button - color-primary
  button background - transparent

  MESSAGE:
  background - white/dark-grey-bg (special for bg)
  header - color-primary
  fields - .../...
  placeholders - .../...
  fields font - .../...
  buttons - color-primary
  buttons background - transparent
  icon-close - color-primary

  */

  ////////////////////////////////////////////////
  //INITIATING COLORS FOR COLOR SCHEMAS
  //orange - problem solving
  --color-PS-dark: #{$color-PS-dark};
  --color-PS-dark-70: #{$color-PS-dark-70};
  --color-PS-dark-90: #{$color-PS-dark-90};
  --color-PS-light: #{$color-PS-light};
  --color-PS-light-70: #{$color-PS-light-70};
  --color-PS-light-90: #{$color-PS-light-90};

  //red - teamwork
  --color-TW-dark: #{$color-TW-dark};
  --color-TW-dark-70: #{$color-TW-dark-70};
  --color-TW-dark-90: #{$color-TW-dark-90};
  --color-TW-light: #{$color-TW-light};
  --color-TW-light-70: #{$color-TW-light-70};
  --color-TW-light-90: #{$color-TW-light-90};

  //brown - perseverance
  --color-PV-dark: #{$color-PV-dark};
  --color-PV-dark-70: #{$color-PV-dark-70};
  --color-PV-dark-90: #{$color-PV-dark-90};
  --color-PV-light: #{$color-PV-light};
  --color-PV-light-70: #{$color-PV-light-70};
  --color-PV-light-90: #{$color-PV-light-90};

  //green - empathy
  --color-EM-dark: #{$color-EM-dark};
  --color-EM-dark-70: #{$color-EM-dark-70};
  --color-EM-dark-90: #{$color-EM-dark-90};
  --color-EM-light: #{$color-EM-light};
  --color-EM-light-70: #{$color-EM-light-70};
  --color-EM-light-90: #{$color-EM-light-90};

  //blue - accountability
  --color-ACC-dark: #{$color-ACC-dark};
  --color-ACC-dark-70: #{$color-ACC-dark-70};
  --color-ACC-dark-90: #{$color-ACC-dark-90};
  --color-ACC-light: #{$color-ACC-light};
  --color-ACC-light-70: #{$color-ACC-light-70};
  --color-ACC-light-90: #{$color-ACC-light-90};

  //yellow - curiosity
  --color-CU-dark: #{$color-CU-dark};
  --color-CU-dark-70: #{$color-CU-dark-70};
  --color-CU-dark-90: #{$color-CU-dark-90};
  --color-CU-light: #{$color-CU-light};
  --color-CU-light-70: #{$color-CU-light-70};
  --color-CU-light-90: #{$color-CU-light-90};

  //black
  --color-black: #{$color-black};

  --color-black-20: #{$color-black-20};
  --color-black-50: #{$color-black-50};

  //white
  --color-white: #{$color-white};

  --color-white-50: #{$color-white-50};

  //grey
  --color-grey-light-1: #{$color-grey-light-1};
  --color-grey-light-2: #{$color-grey-light-2};
  --color-grey-light-3: #{$color-grey-light-3}; //old bg, currently don't use
  --color-grey-light-4: #{$color-grey-light-4};
  --color-grey-light-5: #{$color-grey-light-5};

  --color-grey-dark-1: #{$color-grey-dark-1};
  --color-grey-dark-2: #{$color-grey-dark-2};
  --color-grey-dark-3: #{$color-grey-dark-3};

  --color-grey-mild-1: #{$color-grey-mild-1};
  --color-grey-mild-2: #{$color-grey-mild-2};
  --color-grey-mild-3: #{$color-grey-mild-3};

  //other colors
  --color-yellow-bg: #{$color-yellow-bg};

  --color-accent: #{$color-accent};

  ////////////////////////////////////////////////
  //COLOR SCHEMA APPLYING

  //BOTH LIGHT AND DARK - NOT SWITCHING

  //HEADER-FOOTER-MENU-TEXT-ICONS
  --color-sign: var(--color-white);

  //SECTION ABOUT
  --color-photo-border: var(--color-grey-light-1);

  //MENU
  --color-menu-bg: var(--color-grey-dark-2);
  --color-menu-font: var(--color-white);

  //SHADOWS
  --color-shadow-20: var(--color-black-20);
  --color-shadow-50: var(--color-black-50);
}

body {
  box-sizing: border-box;

  &[data-theme="light"] {
    //BACKGROUND
    --color-bg: var(--color-white);

    //FONT
    --color-font: var(--color-black);

    //SECTION TOOLSET
    --color-score: var(--color-grey-light-1);
    --color-score-hover: var(--color-grey-light-2);

    //SECTION QUALIFICATION
    --color-activity-bg: var(--color-grey-light-2);
    --color-activity-border: var(--color-grey-light-1);

    //MESSAGE
    --color-input-bg: var(--color-grey-mild-3);
    --color-label-plholder: var(--color-black);
  }

  &[data-theme="dark"] {
    //BACKGROUND
    --color-bg: var(--color-grey-dark-1);

    //FONT
    --color-font: var(--color-grey-mild-3);

    //SECTION TOOLSET
    --color-score: var(--color-black-50);
    --color-score-hover: var(--color-grey-dark-2);

    //SECTION QUALIFICATION
    --color-activity-bg: var(--color-grey-dark-2);
    --color-activity-border: var(--color-grey-dark-3);

    //MESSAGE
    --color-input-bg: var(--color-grey-dark-3);
    --color-label-plholder: var(--color-grey-mild-3);
  }

  &[primary-color="blue"] {
    --color-primary-dark: var(--color-ACC-dark);
    --color-primary-dark-70: var(--color-ACC-dark-70);
    --color-primary-dark-90: var(--color-ACC-dark-90);

    --color-primary-light: var(--color-ACC-light);
    --color-primary-light-70: var(--color-ACC-light-70);
    --color-primary-light-90: var(--color-ACC-light-90);
  }

  &[primary-color="orange"] {
    --color-primary-dark: var(--color-PS-dark);
    --color-primary-dark-70: var(--color-PS-dark-70);
    --color-primary-dark-90: var(--color-PS-dark-90);

    --color-primary-light: var(--color-PS-light);
    --color-primary-light-70: var(--color-PS-light-70);
    --color-primary-light-90: var(--color-PS-light-90);
  }

  &[primary-color="red"] {
    --color-primary-dark: var(--color-TW-dark);
    --color-primary-dark-70: var(--color-TW-dark-70);
    --color-primary-dark-90: var(--color-TW-dark-90);

    --color-primary-light: var(--color-TW-light);
    --color-primary-light-70: var(--color-TW-light-70);
    --color-primary-light-90: var(--color-TW-light-90);
  }

  &[primary-color="brown"] {
    --color-primary-dark: var(--color-PV-dark);
    --color-primary-dark-70: var(--color-PV-dark-70);
    --color-primary-dark-90: var(--color-PV-dark-90);

    --color-primary-light: var(--color-PV-light);
    --color-primary-light-70: var(--color-PV-light-70);
    --color-primary-light-90: var(--color-PV-light-90);
  }

  &[primary-color="green"] {
    --color-primary-dark: var(--color-EM-dark);
    --color-primary-dark-70: var(--color-EM-dark-70);
    --color-primary-dark-90: var(--color-EM-dark-90);

    --color-primary-light: var(--color-EM-light);
    --color-primary-light-70: var(--color-EM-light-70);
    --color-primary-light-90: var(--color-EM-light-90);
  }

  &[primary-color="yellow"] {
    --color-primary-dark: var(--color-CU-dark);
    --color-primary-dark-70: var(--color-CU-dark-70);
    --color-primary-dark-90: var(--color-CU-dark-90);

    --color-primary-light: var(--color-CU-light);
    --color-primary-light-70: var(--color-CU-light-70);
    --color-primary-light-90: var(--color-CU-light-90);
  }
}

////////////////////////////////////////////////
//STYLING SELECTION
::selection {
  background-color: var(--color-primary-dark);
  color: $color-white;
}

////////////////////////////////////////////////
//COMPATIBILITY WITH NON-HTML5 BROWSERS
footer,
header,
nav,
section {
  display: block;
}

////////////////////////////////////////////////
//POSITIONING FOR FIXED ELEMENTS (COLOR SCHEMA PANEL AND BTN, NAVIGATION)
.main {
  position: relative;
}
