body {
    font-family: "Open Sans", sans-serif;
    // font-family: "Roboto", sans-serif;
    // font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $font-size-main;
    line-height: 1.7;
    color: var(--color-font);
    // color: $color-grey-dark;

    @include respond(_1040-1200) {
        font-size: $font-size-tab-land;
        font-weight: 400;
        line-height: 1.7;
    }

    @include respond(_720-880) {
        font-size: $font-size-tab-port;
        font-weight: 400;
        line-height: 1.7;
    }

    @include respond(_360-580) {
        font-size: $font-size-mobile;
        font-weight: 300;
        line-height: 1.5;
    }

    @include respond(_0-360) {
        font-size: $font-size-mobile-small;
        font-weight: 300;
        line-height: 1.5;
    }
}

.heading-tertiary {
    font-size: $font-size-main;
    font-weight: 700;

    @include respond(_1040-1200) {
        font-size: $font-size-tab-land;
    }

    @include respond(_720-880) {
        font-size: $font-size-tab-port;
    }

    @include respond(_360-580) {
        font-size: $font-size-mobile;
    }

    @include respond(_0-360) {
        font-size: $font-size-mobile-small;
    }
}

// .paragraph-title {
//     font-size: $font-size-main;
//     font-weight: 600;
//     text-transform: uppercase;
// }

// .paragraph-text {
//     font-size: $font-size-main;
//     font-weight: 300;
// }
