.u-center-text {
    text-align: center;
}

.u-margin-bottom-main {
    margin-bottom: 8rem;
}

.u-margin-left-right-main {
    margin-left: 15rem;
    margin-right: 15rem;
}

.u-bg-blue {
    background-color: var(--color-ACC-dark);
}

.u-bg-orange {
    background-color: var(--color-PS-dark);
}

.u-bg-red {
    background-color: var(--color-TW-dark);
}

.u-bg-brown {
    background-color: var(--color-PV-dark);
}

.u-bg-green {
    background-color: var(--color-EM-dark);
}

.u-bg-yellow {
    background-color: var(--color-CU-dark);
}

body.color-theme-in-transition,
body.color-theme-in-transition *,
body.color-theme-in-transition *:before,
body.color-theme-in-transition *:after {
    -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    -o-transition: all 0.5s ease !important;
    transition: all 0.5s !important;
    transition-delay: 0 !important;
    backface-visibility: hidden !important;
}