.section {
    // padding-top: 7rem;
    // max-width: $container-max-width;
    padding: $container-padding-top-bottom $container-padding-left-right;
    background-color: var(--color-bg);

    @include respond(_360-600) {
        padding: 15rem 10vw 2rem;

        // max-width: 80rem;
        // margin: 0 auto;
    }

    @include respond(_0-360) {
        // width: 100%;
        padding: 18rem 3.5vw 2rem;
        // padding: 15rem 3.5vw 0;
    }
}

.section-profile {
    @include respond(_360-600) {
        padding-top: 15rem;
    }

    @include respond(_0-360) {
        padding-top: 15rem;
    }
}
